<div class="row">
  <div class="col-md-4">
    <h3>Day 1: Thursday</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:00 AM</td>  <td><a href="https://ornl-training.github.io/python-novice-inflammation_uv/">Python Fundamentals</a></td> </tr>
      <tr> <td>12:00 PM</td>  <td>Lunch break</td> </tr>
      <tr> <td>01:00 PM</td>  <td><a href="https://ornl-training.github.io/python-novice-inflammation_uv/05-loop.html">Repeating Actions with Loops</a></td> </tr>
      <tr> <td>03:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2: Friday</h3>
    <table class="table table-striped">
      <tr> <td>10:00 AM</td>  <td><a href="https://ornl-training.github.io/python-novice-inflammation_uv/08-func.html">Creating Functions</a></td> </tr>
      <tr> <td>12:00 PM</td>  <td>Lunch break</td> </tr>
      <tr> <td>01:00 PM</td>  <td><a href="https://ornl-training.github.io/python-novice-inflammation_uv/10-defensive.html">Defensive Programming</a></td> </tr>
      <tr> <td>03:00 PM</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
